@import '../../../../assets/scss/variables';

.wrapper {
  font-family: 'Montserrat', sans-serif;

  h1 {
    text-align: center;
    font-family: 'Unica One', cursive;
    color: #ffffff;
    font-size: 4vw;
    margin: 15px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      vertical-align: center;
      padding: 15px;
      border: rgba(255, 255, 255, 0.25) 2px solid;
      background-color: rgba(255, 255, 255, 0.45);
      color: white;
      font-size: 1.25vw;

      input {
        width: auto;
        margin: auto;
      }

      label {
        font-size: 1vw;
      }

      button {
        margin-top: 5%;
      }

      .error {
        color:$color-2;
      }

      .result {

      }
    }
  }
}


