<div class="wrapper">
  <h1>Register page</h1>
  <div class="content">
    <form method="post">
      <div class="container">
        <div class="form-group">
          <label id="uname"><b>Username: </b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
        </div>
        <div class="form-group">
          <label id="psw"><b>Password: </b></label>
          <input type="password" placeholder="Enter Password" name="psw"  required>
        </div>
        <div class="form-group">
          <label id="repeat-psw"><b>Repeat password: </b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
